/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: quicksand;
    background-image: url('../img/port-background.png');
}

.work-link {
    color: orange;
    font-weight: bolder;
    text-decoration: underline;
    display: block;
    text-align: center;
}

a { 
    color: #000;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-transition-duration: 0.3s, 0.3s;
    -o-transition-duration: 0.3s, 0.3s;
       transition-duration: 0.3s, 0.3s;
}



.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
}

.page-header_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header_item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

#logo {
    height: auto;
    width: 150px;
}

.navigation-list li{
    list-style-type: none;
    display: inline-block;
    -webkit-transition-duration: 0.3s, 0.3s;
    -o-transition-duration: 0.3s, 0.3s;
       transition-duration: 0.3s, 0.3s;
}

.navigation-list li:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
        transform: scale(1.2);
}

.nav-link {
    font-size: 35px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;

}

h1 {
    text-align: center;
    font-size: 75px;
    font-weight: 1000;
    color: black;
    text-shadow: 2px 2px #fff;
}

h2 {
    font-size: 30px;
    text-align: center;
}

.hello-world {
    text-shadow: 2px 2px #fff;
}

.profile__portrait {
    float: left;
    height: auto;
    width: 350px;
    margin-right: 30%;
    border-radius: 12%;
    margin: 30px;
    border: 5px solid #fff;
}

.profile {
    max-width: 1000px;
    margin: 0 auto;
}

button { 
    background-color: #000;
    color: orange;
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
    padding: 13px;
    border: 3px solid orange;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    -webkit-transition-duration: 0.3s, 0.3s;
         -o-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
    text-align: center;
}



button:hover,
.button:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

#description {
    line-height: 2;
    font-size: 27px; 
    padding: 2%;
    margin-top: 14%;
}

#cv-button {
    display: inline;
    font-weight: bolder;
    padding-left: 5%;
    padding-right: 5%;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@-webkit-keyframes slide-left  {
    0% { -webkit-transform: translateX(0); transform: translateX(0); }
    50% { -webkit-transform: translateX(100px); transform: translateX(100px); }
    100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes slide-left  {
    0% { -webkit-transform: translateX(0); transform: translateX(0); }
    50% { -webkit-transform: translateX(100px); transform: translateX(100px); }
    100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@-webkit-keyframes slide-right  {
    0% { -webkit-transform: translateX(0); transform: translateX(0); }
    50% { -webkit-transform: translateX(-100px); transform: translateX(-100px); }
    100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes slide-right  {
    0% { -webkit-transform: translateX(0); transform: translateX(0); }
    50% { -webkit-transform: translateX(-100px); transform: translateX(-100px); }
    100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

.moving-left-svg {
    -webkit-animation: slide-left 2s linear infinite;
            animation: slide-left 2s linear infinite;
    padding-bottom: 30px;
}

.moving-right-svg {
    -webkit-animation: slide-right 2s linear infinite;
            animation: slide-right 2s linear infinite;
    padding-bottom: 30px;
}

.svg-left {
    margin-left: 32%;
}

.svg-right {
    margin-right: 32%;
}


table {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    line-height: 2;
    border-collapse: collapse;
    width: 40%;
    font-weight: bold;
}

th {
    text-transform: uppercase;
    background-color: #000;
    color: orange;
    border: 5px solid orange;
    padding: 8px;
    text-align: center;
    width: 20px
}

td {
    background-color: #000;
    color: orange;
    border: 5px solid orange;
    padding: 8px;
    text-align: left;
}


thead {
    text-align: left;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.grid__item {
    background-image: url('../img/card-background.png');
    border: 5px solid white;
    color: orange;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.grid__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition-duration: 0.3s, 0.3s;
         -o-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
}

.para-center {
    text-align: center;
    line-height: 2;
    font-size: 25px;
    padding-bottom: 20px;
}

p {
    line-height: 2;
    font-size: 25px;
    font-weight: bold;
}

.contact-info {
    display: block;
    text-align: center;
    font-weight: bold;
    padding-top: 75px;
    font-size: 25px;
    line-height: 3;
    margin-left: auto;
    margin-right: auto;
}

.project-imgs {
    width: 75%;
    height: auto;
    border-radius: 10px;
    margin: auto;
}


a:hover, a:focus {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
}

.social-link {
    text-decoration: none;
}


a:active {
    color: #489c79;
}

.social-logo {
    width: 60px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    -webkit-transition-duration: 0.3s, 0.3s;
         -o-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
}

.social-logo:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.8;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 100px;
    text-align: center;
    font-size: 25px;
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 25px;
    }
}
  }