/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
    border: 5px solid #fff;
    font-size: 25px;
    border-radius: 25px;
}

.page-header_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header_item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

#logo {
    height: auto;
    width: 150px;
}

.navigation-list li{
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
}

body {
    background-color: #dcd0cc;
    font-family: quicksand;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 1000;
    line-height: 2;
    color: #c7622b;
}

.profile__portrait {
    float: left;
    height: auto;
    width: 350px;
    margin-right: 40px;
    border-radius: 12%;
    margin: 30px;
    border: 5px solid #fff;
    margin-top: 50px;
}

.profile {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}

h1:hover {
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    -webkit-transition-duration: 0.3s, 0.3s;
         -o-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
}

button {
    background-color: #c7622b;
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid #000;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    max-width: 350px;
    -webkit-transition-duration: 0.3s, 0.3s;
         -o-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
    text-align: center;
}

.button {
    background-color: #c7622b;
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid #000;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    max-width: 350px;
    -webkit-transition-duration: 0.3s, 0.3s;
         -o-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
    text-align: center;
}

button:hover,
.button:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.8;
}

#description {
    border: 5px solid #fff;
    line-height: 2;
    font-size: 25px;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@-webkit-keyframes slide-left  {
    0% { -webkit-transform: translateX(0); transform: translateX(0); }
    50% { -webkit-transform: translateX(100px); transform: translateX(100px); }
    100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes slide-left  {
    0% { -webkit-transform: translateX(0); transform: translateX(0); }
    50% { -webkit-transform: translateX(100px); transform: translateX(100px); }
    100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@-webkit-keyframes slide-right  {
    0% { -webkit-transform: translateX(0); transform: translateX(0); }
    50% { -webkit-transform: translateX(-100px); transform: translateX(-100px); }
    100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes slide-right  {
    0% { -webkit-transform: translateX(0); transform: translateX(0); }
    50% { -webkit-transform: translateX(-100px); transform: translateX(-100px); }
    100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

.moving-left-svg {
    -webkit-animation: slide-left 2s linear infinite;
            animation: slide-left 2s linear infinite;
    padding-bottom: 30px;
}

.moving-right-svg {
    -webkit-animation: slide-right 2s linear infinite;
            animation: slide-right 2s linear infinite;
    padding-bottom: 30px;
}

.svg-left {
    margin-left: 32%;
    
}

.svg-right {
    margin-right: 32%;
}


table {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    line-height: 2;
    border-collapse: collapse;
    width: 40%;
}

th {
    border: 5px solid #000;
    padding: 8px;
    text-align: left;
}

td {
    border: 5px solid #000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #c7622b;
}

thead {
    text-align: left;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.grid__item {
    background-color:#c7622b;
    border: 5px solid #fff;
    padding: 20px;
}

.grid__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition-duration: 0.3s, 0.3s;
         -o-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
}

.para-center {
    text-align: center;
    line-height: 2;
    font-size: 25px;
}

p {
    line-height: 2;
    font-size: 25px;
}

.contact-info {
    display: block;
    text-align: center;
    padding-top: 75px;
    font-size: 25px;
    line-height: 3;
    margin-left: auto;
    margin-right: auto;
}

a { 
    color: #000;
}

a:hover, a:focus {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
}


a:active {
    color: #489c79;
}

.social-logo {
    width: 60px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    -webkit-transition-duration: 0.3s, 0.3s;
         -o-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
}

.social-logo:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.8;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 100px;
    text-align: center;
    font-size: 25px;
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 25px;
    }
}
  }